body {
    font-family: 'Ubuntu', sans-serif;
}

.site-container {
    padding-top: 10vh;
}

#search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.banner-slideshow {
    display: none;
}

.game-title {
    display: none;
}

.controller-button {
    height: 1.5rem;
}

Footer * p {
    font-size: 0.8rem;
}